@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: 'Open Sans', sans-serif;
            background: linear-gradient(to right, #8b8b8b, #bfbfbf);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        nav {
            background-color: white;      
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            font-size: 30px;
            display: flex;
        }

        nav>a {
            padding-left: 20px;
            padding-bottom: 40px;
            text-decoration: none;
            color: #000000;
        }

        li {
            list-style-type: none;
        }

        li>a{
            position: relative;
            float: right;
            text-decoration: none;
            color: #000000;
            padding-right: 20px;
            padding-bottom: 50px;
            font-size: 19px;
        }  

        #profile {
            background-color: white;
            border-radius: 26px;
            margin: 140px 40px 10px;
            height: 900px;
            text-align: center;
            font-size: 30px;
        }

        #knowledge {
            background-color: rgb(255, 255, 60);
            border-radius: 26px;
            margin: 10px 40px 10px;
            height: 900px;
            text-align: center;
        }

        #skills {
            background-color: rgb(255, 255, 255);
            border-radius: 26px;
            margin: 10px 40px 10px;
            height: 900px;
            text-align: center;
        }

        #contact {
            background-color: rgb(255, 255, 60);
            border-radius: 26px;
            margin: 10px 40px 10px;
            height: 900px;
            text-align: center;
        }