@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #262626;
    background-color: white;
    transition: background-color 1s ease;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body.light-mode {
    background-color: #262626;
    color: #d9d9d9;
}

.linkedin-dark-mode.light-mode {
    content: url('./assets/in.png');
}

.linkedin2-dark-mode.light-mode {
    content: url('./assets/in.png');
}

.github-dark-mode.light-mode {
    content: url('./assets/github1.png');
}

.email-dark-mode.light-mode {
    content: url('./assets/mail.png');
}

.x-dark-mode.light-mode {
    content: url('./assets/X.png');
}

nav {
    color: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: color 1s ease;
    height: 17vh;
}

nav h2 {
    font-size: 2rem;
}

.navigation {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    color: inherit;
}

.navigation a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 1s ease, left 1s ease;
    transform: translateX(-50%);
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 1s ease, left 1s ease;
    transform: translateX(-50%);
}

.navigation a:hover::after {
    width: 100%;
    left: 50%;
}

.resume {
    width: 90px;
    text-align: center;
    border-radius: 2px;
    height: 28px;
    cursor: pointer;
    background-color: #262626;
    color: white;
    transition: 1s ease;
}

.resume.light-mode {
    background-color: white;
    color: #262626;
}

.toggle-mode i {
    font-size: 1.2rem;
    cursor: pointer;
    color: inherit;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s ease;
}

/* moblie */
.hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.go-up {
    display: none;
    position: fixed;
    top: 96.5vh;
    background-color: white;
    left: 97%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: opacity 1s ease;
}

.go-up.visible {
    display: block;
    opacity: 1;
}


/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.line {
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: white;
}

.line.light-mode {
    background-color: #262626;
}

.section-container {
    display: flex;
}

/* PROFILE */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.frame {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 30rem;
    height: 85vh;
    overflow: hidden;
}

.frame img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -300px 90px -100px white,
        inset -100px 0 50px -50px white,
        inset 100px 0 50px -50px white;
    transition:
        box-shadow 1s ease,
        background-color 0.3s ease;
}

.shadow-overlay.light-mode {
    box-shadow: inset 0 -300px 90px -100px #262626,
        inset -100px 0 50px -50px #262626,
        inset 100px 0 50px -50px #262626;
}

.section__text {
    align-self: center;
    text-align: center;
    transition: 1s ease;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
    transition: 1s ease;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(74, 74, 74) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}


/* about me */
#about {
    position: relative;
}

#about h1 {
    padding-top: 3rem;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    /* border: rgb(38, 38, 38) 0.1rem solid; */
    background: rgb(224, 224, 224);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.text-container p {
    font-size: 1.3rem;
}

/* skills */

#skills {
    position: relative;
}

.skills-sub-title {
    color: #262626;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.skills-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    color: #262626;
    display: flex;
    width: 14rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

article .icon {
    cursor: pointer;
}

/* PROJECTS */

#projects {
    position: relative;
}

.color-container {
    background: rgb(224, 224, 224);
    color: #262626;
}

.color-container p {
    padding-bottom: 10px;
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project p {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-info-container p a {
    text-decoration: none;
    color: inherit;

}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER */

footer {
    height: 26vh;
    margin: 0 1rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    color: inherit;
}

.nav-links a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 1s ease, left 1s ease;
    transform: translateX(-50%);
}

.nav-links a:hover::after {
    width: 100%;
    left: 50%;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
  
    .about-containers {
      flex-wrap: wrap;
    }
  
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .desktop {
      display: none;
    }
  
    .hamburger-nav {
      display: flex;
    }
  
    #profile {
      text-align: center;
    }
  
    #profile,
    .section-container {
      display: block;
    }
  
    section,
    .section-container {
      height: fit-content;
    }
  
    section {
      margin: 0 5%;
    }
  
    .frame {
      width: 275px;
      height: 275px;
      display: inline-block;
      margin: 0 auto 2rem;
    }
  
    .shadow-overlay {
      box-shadow: inset 0 -200px 90px -100px white,
        inset -100px 0 50px -50px white,
        inset 100px 0 50px -50px white;
    }
  
    .shadow-overlay.light-mode {
      box-shadow: inset 0 -200px 90px -100px #262626,
        inset -100px 0 50px -50px #262626,
        inset 100px 0 50px -50px #262626;
    }
  
    .about-containers {
      margin-top: 0;
    }
  }
  
  
  
  @media screen and (max-width: 600px) {
  
    #contact,
    footer {
      height: 40vh;
    }
  
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
  
    article {
      font-size: 1rem;
    }
  
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
  
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
  
    .contact-info-container {
      margin: 0;
    }
  
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
  
    .experience-sub-title {
      font-size: 1.25rem;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
  
    .section__text__p2 {
      font-size: 1.25rem;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .text-container {
      text-align: justify;
    }
  }